option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FeatureVector/wsgi.py
commands:
  command block:
    command: |
      pip install --upgrade pip
      pip install torch
      pip install torchvision
container_commands:
  # remove_word_map:
  #   command: "rm -rf ./ebdjango/WORDMAP_coco_5_cap_per_img_5_min_word_freq.json"
  #   ignoreErrors: true
  change_mod:
    command: "chmod +x GDriveDL"
  download_word_map:
    command: "./GDriveDL https://drive.google.com/file/d/1bt_TmTC_rUcss2MJsG_C_6DtwEttRVKc/view?usp=sharing './main'"
  download_model:
    command: "./GDriveDL https://drive.google.com/file/d/1FYZ446OPEqhe-uLkgyVICjD_3-N3IZn1/view?usp=sharing './main'"
    