option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: FeatureVector/wsgi.py
container_commands:
  # remove_word_map:
  #   command: "rm -rf ./ebdjango/WORDMAP_coco_5_cap_per_img_5_min_word_freq.json"
  #   ignoreErrors: true
  download_files:
    command: "curl https://raw.githubusercontent.com/matthuisman/gdrivedl/master/gdrivedl.py --output GDriveDL && \
    chmod +x GDriveDL \
    ./GDriveDL https://drive.google.com/file/d/1bt_TmTC_rUcss2MJsG_C_6DtwEttRVKc/view?usp=sharing './main' \
    ./GDriveDL https://drive.google.com/file/d/1FYZ446OPEqhe-uLkgyVICjD_3-N3IZn1/view?usp=sharing './main'"
    